@import "functions";
@import "helpers/variables";
@import "mixins";

@import "bootstrap";

p{
    margin-bottom: 0px;
}
hr{
    border-top: 1px solid #000000;
}

.ul_list > li{
    display: block;
    padding: 10px;
}