@import "functions";
@import "helpers/variables";
@import "mixins";

@import "bootstrap";

p{
    margin-bottom: 0px;
}
hr{
    border-top: 1px solid #000000;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .border_set{
        border: 1px solid #000000;
    }
}


.check{
    appearance:none;
}